<!doctype html>

<html>
<head>
  <title>Jeefu Bots</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>
<body>
  <div class="w3-container w3-green">
    <h1>August 7th, 2021</h1>
  </div>

<div class="row">
  <div class="side">
    <h2>BTC $44,500.03</h2>
    <strong>Volume: 4,000,000</strong>
  </div>
  <div class="main">
    <h2>The Team</h2>
    <div class="card-row">
      <div class="column">
        <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
          <div class="container">
            <br>
            <b>The Hodler</b>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
            <p><u>Recommendation: Hold</u></p>
            <p>Total Return: 42%</p>
            <p>Total Balance as Cash: $40,234</p>
            <p>Total Balance as BTC: 1.0</p>
            <p>Avg Days Holding Cash: 42</p>
            <p>Avg Days Holding BTC: 84</p>
            <p>Avg Return per Buy: 33%</p>
            <p>Avg Return per Sell: 50%</p>
            <br>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <br>
            <b>Mr. Hindsight</b>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p><u>Recommendation: Hold</u></p>
            <p>Total Return: 42%</p>
            <p>Total Balance as Cash: $40,234</p>
            <p>Total Balance as BTC: 1.0</p>
            <p>Avg Days Holding Cash: 42</p>
            <p>Avg Days Holding BTC: 84</p>
            <p>Avg Return per Buy: 33%</p>
            <p>Avg Return per Sell: 50%</p>
            <br>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <br>
            <b>The Amateur</b>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <p><u>Recommendation: Hold</u></p>
            <p>Total Return: 42%</p>
            <p>Total Balance as Cash: $40,234</p>
            <p>Total Balance as BTC: 1.0</p>
            <p>Avg Days Holding Cash: 42</p>
            <p>Avg Days Holding BTC: 84</p>
            <p>Avg Return per Buy: 33%</p>
            <p>Avg Return per Sell: 50%</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>