<!doctype html>

<html>
<head>
  <title>Jeefu Bots</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="w3-container w3-green">
    <h1>August 7th, 2021</h1>
  </div>

<div class="row">
  <div class="side">
    <h2>BTC $44,500.03</h2>
    <strong>Volume: 4,000,000</strong>
  </div>
  <div class="main">
    <h2>The Team</h2>
    <div class="card-row">
      <div class="column">
        <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Hodl</b></h4>
            <p>Architect & Engineer</p>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Hindsight</b></h4>
            <p>Architect & Engineer</p>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>Jeefu</b></h4>
            <p>Architect & Engineer</p>
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>